.ads {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    height: 300px;
    // background: #fff;

    &__item {
        box-shadow: 0 12px 26px var(--var-shadow);
        border-radius: 26px;
        width: calc(50% - 10px);
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        margin: 0 5px 5px 5px;
        color: #2b376f;
        font-size: 75%;
        background: #fff;
    }
}
