.post {
    display: flex;
    &__image {
        border-radius: 23px;
        height: 100px;
        width: 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }

    &__title {
        color: #7b7da3;
        font-size: 87.5%;
        font-weight: 600;
    }

    &__description {
        margin-top: 10px;
        color: #9ea4c4;
        font-size: 75%;
        font-weight: 300;
    }

    &__time {
        font-size: 75%;
        text-align: center;
        color: #9ea4c4;
        display: flex;
        align-items: center;
        justify-content: center;

        & span {
            margin-right: 5px;
        }

        & svg {
            height: 13px;
            width: 13px;
        }
    }
}
