.product-types-card {
    transition: 300ms all ease-in-out;

    &:hover {
        transition: 300ms all ease-in-out;
        box-shadow: 0 35px 26px #8d8dd621;
        transform: translateY(-20px);
    }
}
.product-types {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    &__icon {
        height: 60px;
        width: 60px;
    }

    &__text {
        margin-top: 10px;
        font-weight: 300;
        color: #2b376f;
        font-size: 75%;
    }
}
