.about {
    border-radius: 26px;
    box-shadow: 0 12px 26px var(--var-shadow);
    background: #fff;
    overflow: hidden;
    // height: 200px;

    &__image {
        max-width: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
        background: url("/assets/images/t-shirt.jpg") center no-repeat;
        background-size: cover;
        // background: #000;
        height: 100%;
        min-height: 200px;
    }

    &__content {
        padding: 20px;
    }
    &__title {
        color: #7b7da3;
        font-weight: 700;
        font-size: 120%;
    }

    &__text {
        color: #7b7da3;
        font-size: 75%;
        margin-top: 20px;
    }
}
